<template>
  <b-card no-body>
    <b-card-header class="border-0">
      <h3 class="mb-0">Senarai Pengguna</h3>
    </b-card-header>

    <el-table
      class="table-responsive table"
      header-row-class-name="thead-light"
      :data="Pengguna"
      style="width: 100%"
    >
      <el-table-column type="index" :index="indexMethod" width="100px">
      </el-table-column>

      <el-table-column label="No. KP" prop="NoKP" min-width="100px">
      </el-table-column>

      <el-table-column label="Nama" prop="Nama" min-width="100px">
      </el-table-column>

      <el-table-column label="E-mel" prop="Emel" min-width="100px">
      </el-table-column>

      <el-table-column min-width="40px">
        <template v-slot="{ row }">
          <el-dropdown trigger="click" class="dropdown">
            <span class="btn btn-sm btn-icon-only text-light">
              <i class="fas fa-ellipsis-v mt-2"></i>
            </span>
            <el-dropdown-menu
              class="dropdown-menu dropdown-menu-arrow show"
              slot="dropdown"
            >
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here</b-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <b-card-footer class="py-4 d-flex justify-content-end">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="ClientPaging.totalRow"
        :page-size="ClientPaging.totalRowPerPaging"
        @current-change="pageChanged"
      >
      </el-pagination>
    </b-card-footer>
  </b-card>
</template>

<script>
import {
  Table,
  TableColumn,
  Pagination,
  DropdownMenu,
  DropdownItem,
  Dropdown,
} from "element-ui";
import PenggunaService from "@/services/PenggunaService.js";
export default {
  name: "light-table",
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Pagination.name]: Pagination,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
  },
  data() {
    return {
      Pengguna: [],
      currentPage: 1,
      ClientPaging: {
        pagingType: 2,
        totalRow: 0,
        totalRowPerPaging: 0,
        totalPage: 0,
        memTableName: null,
        lastPage: 0,
      },
    };
  },
  methods: {
    pageChanged(val) {
      this.currentPage = val;
      this.queryPageData(val);
    },
    queryPageData(currentPage) {
      PenggunaService.getPenggunaData(currentPage).then((resp) => {
        this.Pengguna = resp.data;
        console.log(resp.data);
      });
    },
    indexMethod(index) {
      return (
        index + 1 + (this.currentPage - 1) * this.ClientPaging.totalRowPerPaging
      );
    },
  },
  created() {
    this.queryPageData(1);

    PenggunaService.getPenggunaInfo().then((resp) => {
      this.ClientPaging = resp.data;
    });
  },
};
</script>
